:root {
    --platinum: #DADDD8;
    --cadet-grey: #9DA3A4;
    --eerie-black: #1A1F16;
    --cream: #DBCCA7;
    --dark-grey: #45433C;
    --light-grey-underline: #e9ecef;
    --accent-green: #28a745;
    --tree-green: #368E23;
    --rust: #A53A04;
    --pumpkin: #F37A1A;
    --golden-brown: #D79921;
    --bone: #EBDBB2;
    --tan-green: #8CA655;
}

body {
    background-color: var(--dark-grey);
    color: var(--bone);
    font-family: Consolas, monospace;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    color: var(--bone);
    text-align: center;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: var(--bone);
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    color: var(--dark-grey);
    background-color: var(--tan-green);
    border-radius: 5px;

}

header {
    text-align: center;
    margin-top: 40px;
    font-size: 1em;
    color: var(--bone);
}

footer {
    text-align: center;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: var(--eerie-black);
    border-radius: 5px;
    margin: 20px 0;
}


.container-grid {
    display: grid;
    border-radius: 5px;
    grid-template-rows: auto auto auto;
    background-color: var(--eerie-black);
    padding: 20px;
    gap: 20px;
}

.container-grid div {
    background-color: var(--dark-grey);
    border: 1px solid var(--bone);
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
    text-align: left;
}

.container-grid div:hover {
    color: var(--dark-grey);
    background-color: var(--tan-green);
    border: 1px solid var(--eerie-black);
    border-radius: 5px;
}


/*** Works on common browsers ***/
::selection {
    background-color: var(--rust);
    color: var(--golden-brown);
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: var(--rust);
    color: var(--golden-brown);
}

/***For Other Browsers ***/
::-o-selection {
    background-color: var(--rust);
    color: var(--golden-brown);
}

::-ms-selection {
    background-color: var(--rust);
    color: var(--golden-brown);
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: var(--rust);
    color: var(--golden-brown);
}
