:root {
    --platinum: #DADDD8;
    --cadet-grey: #9DA3A4;
    --eerie-black: #1A1F16;
    --cream: #DBCCA7;
    --dark-grey: #45433C;
    --light-grey-underline: #e9ecef;
    --accent-green: #28a745;
    --tree-green: #368E23;
    --rust: #A53A04;
    --pumpkin: #F37A1A;
    --golden-brown: #D79921;
    --bone: #EBDBB2;
}

body {
    background-color: var(--dark-grey);
    color: var(--bone);
    font-family: Consolas, monospace;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    color: var(--bone);
    text-align: center;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: var(--bone);
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    color: var(--cream);
    background-color: var(--tree-green);
    border-radius: 5px;

}

header {
    text-align: center;
    margin-top: 40px;
    font-size: 1em;
    color: var(--bone);
}

footer {
    text-align: center;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: var(--eerie-black);
    border-radius: 5px;
    margin: 20px 0;
}
    background-color: var(--tree-green);
    color: var(--cream);

