:root {
    --platinum: #DADDD8;
    --cadet-grey: #9DA3A4;
    --eerie-black: #1A1F16;
    --cream: #DBCCA7;
    --chill-yellow: #F7DC6F;
    --dark-grey: #45433C;
    --light-grey-underline: #e9ecef;
    --accent-green: #28a745;
    --tree-green: #368E23;
    --rust: #A53A04;
    --pumpkin: #F37A1A;
    --golden-brown: #D79921;
    --bone: #EBDBB2;
    --tan-green: #8CA655;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    /* background-color: var(--eerie-black); */
    background: url("images/tiles/green_grass.png");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--bone);
    font-family: monospace;
    line-height: 1.6;
    font-size: large;
}

main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: flex-start; 
    padding-top: 50px;      
}

h1 {
    color: var(--bone);
    text-align: left;
}

footer {
    text-align: center;
    padding: 20px 0;
}

p a {
  color: var(--tan-green);            
  text-decoration: none;   
  font-weight: bold;
}

p a:hover {
  color: var(--rust);
  background-color: var(--eerie-black);
  text-decoration: none;
  border-radius: 5px;
}

.container-main {
    text-align: left;
    padding: 20px;
    background-color: var(--dark-grey);
    border-radius: 0px;
    border: 5px inset var(--rust);
    margin: 20px 0;
    max-width: 900px;
    width: 90%;
}

.wrapper {
    display: flex;
    align-items: flex-start; 
    gap: 30px;              
    margin-bottom: 20px;
}

.wrapper-text{
    flex: 2; 
}

.wrapper-image{
    flex: 1; 
    max-width: 300px; 
}

.wrapper-image img {
    width: 100%; 
    height: auto;
    border-radius: 0px; 
    border: 3px inset var(--rust);
}

/* stacks on mobile */
@media (max-width: 600px) {
    .wrapper{
        flex-direction: column;
    }
}

/* interactive 'redacted' type text */
.redacted {
    background-color: var(--dark-grey);
    color: var(--dark-grey);
}

.redacted:hover {
    background-color: var(--eerie-black);
    color: var(--bone);
}

/* Highlight text color change */
::selection {
    background-color: var(--rust);
    color: var(--chill-yellow);
}

::-moz-selection {
    background-color: var(--rust);
    color: var(--chill-yellow);
}

::-webkit-selection {
    background-color: var(--rust);
    color: var(--chill-yellow);
}
