:root {
    --platinum: #DADDD8;
    --cadet-grey: #9DA3A4;
    --eerie-black: #1A1F16;
    --cream: #DBCCA7;
    --chill-yellow: #F7DC6F;
    --dark-grey: #45433C;
    --light-grey-underline: #e9ecef;
    --accent-green: #28a745;
    --tree-green: #368E23;
    --rust: #A53A04;
    --pumpkin: #F37A1A;
    --golden-brown: #D79921;
    --bone: #EBDBB2;
    --tan-green: #8CA655;
}

body {
    background-color: var(--dark-grey);
    background: url("images/tiles/slate.png");
    color: var(--bone);
    font-family: Consolas, monospace;
    line-height: 1.6;
}

h1 {
    color: var(--bone);
    text-align: center;
}

nav {
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    bottom: -30px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: url("images/tiles/green_grass.png");
}

nav a {
    text-decoration: none;
    color: var(--bone);
    padding: 10px;
    font-weight: bold;

}

nav a.active {
    text-decoration: none;
    color: var(--bone);
    background-color: var(--rust);
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

nav a:not(.active):hover {
    color: var(--dark-grey);
    background-color: var(--tan-green);
    border-radius: 5px;

}

header {
    text-align: center;
    margin-top: 40px;
    font-size: 1em;
    color: var(--bone);
}

footer {
    text-align: center;
}

p a {
  color: var(--tan-green);           
  text-decoration: none;   
  font-weight: bold;
}

p a:hover {
  color: var(--rust);
  text-decoration: none;
  border-radius: 5px;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: var(--eerie-black);
    border-radius: 5px;
    margin: 20px 0;
}

.container img {
    border-radius: 2px;
    outline: 2px solid var(--tan-green);
}

img.no-border {
    border-radius: 5px;
    outline: none;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;     
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.wrap-left {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 500px;
    border-radius: 5px;
    outline: 2px solid var(--tan-green);
}

pre {
    font-size: 1.5rem;
}
/* portfolio stuff */
.project-card {
    color: var(--bone);
    background-color: var(--dark-grey);
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    outline: 5px solid var(--rust);
}

.project-card h3 {
    margin: 10px 10px 10px 10px;
    font-size: 1.25rem;
}

.project-card p {
    margin: 10px 10px 10px 10px;
    font-size: 0.95rem;
    line-height: 1.4;
}

.project-card:hover {
    outline: 2px solid var(--tan-green);
    background-color: var(--tan-green);
    color: var(--dark-grey);
}

.project-image img {
    border-radius: 5px;
    outline: 2px solid var(--tan-green);
}

.project-container {
    text-align: left;
    padding: 20px;
    background-color: var(--eerie-black);
    border-radius: 5px;
    margin: 20px 0;
    display: flow-root;
}

.redacted {
    background-color: var(--dark-grey);
    color: var(--dark-grey);
}

.redacted:hover {
    background-color: var(--eerie-black);
    color: var(--bone);
}    

/*** Works on common browsers ***/
::selection {
    background-color: var(--rust);
    color: var(--chill-yellow);
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: var(--rust);
    color: var(--chill-yellow);
}

/***For Other Browsers ***/
::-o-selection {
    background-color: var(--rust);
    color: var(--chill-yellow);
}

::-ms-selection {
    background-color: var(--rust);
    color: var(--chill-yellow);
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: var(--rust);
    color: var(--chill-yellow);
}
